<div class="content">
        <div class="container">
          <div class="gap-xs"></div>
          <div class="c-white row">
            <div class="large-size col-lg-6">
              <div class="ml-3">PHƯƠNG PHÁP CHẾ BIẾN</div>
            </div>
            <div class="col-lg-6">
              <div class="float-right col-lg-2 clear-fix" id="btn-save-cooking-type">
                <div class="d-block btn btn-success mt-1">
                  Lưu
                </div>
              </div>
            </div>
          </div>
          <div class="gap-xs"></div>
          <div class="container">
            <div class="row">
              <div class="col-md-12 input-field mt-2">
                <form method="POST" class="bg-dark c-white py-2 pb-4 px-3" id="form-cooking-type">
                  <input name="cookingTypeID" type="hidden" value="-1" />
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="cooking-type" >Tên phương pháp</label>
                      <input name="cookingType" type="text" class="form-control" placeholder="Tên phương pháp">
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="gap-sm"></div>
          </div>
        </div>
      </div>