<div class="content">
	<div class="container">
		<div class="gap-sm"></div>
		<div class="row">
			<div class="col-lg-12 m-auto">
				<canvas id="income-chart" class="c-white bg-white"></canvas>
				<div class="c-white large-size text-center">
					Bảng thống kê doanh thu trong năm
					<select name="year" id="year">
						<option value="2017">2017</option>
						<option value="2018">2018</option>
						<option value="2019">2019</option>
						<option value="2020">2020</option>
					</select>
				</div>
			</div>
			<div class="gap-md"></div>
			<div class="col-lg-6">
				<div class="c-white title">
					<div class="large-size float-left">
						BÁNH MẶN
					</div>
					<div class="float-right mt-3">
						<a href="./product-type-income.html" class="d-block btn-dark bg-transparent">
							Xem chi tiết
							<span>
								<i class="fas fa-arrow-right"></i>
							</span>
						</a>
					</div>
				</div>
				<div class="gap-xs"></div>
				<div class="table-responsive-lg">
					<table class="table table-hover table-striped table-dark">
						<thead class="thead-dark">
							<tr>
								<th scope="col">#</th>
								<th scope="col">Tên bánh</th>
								<th scope="col">Số lượng đơn hàng</th>
								<th scope="col">Số lượng đã bán</th>
								<th scope="col">Doanh thu</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">1</th>
								<td>Bánh sừng bò</td>
								<td>20</td>
								<td>49</td>
								<td>20000000</td>
							</tr>
							<tr>
								<th scope="row">2</th>
								<td>Bánh mì Baguette</td>
								<td>48</td>
								<td>93</td>
								<td>42132000</td>
							</tr>
							<tr>
								<th scope="row">3</th>
								<td>Bugers</td>
								<td>30</td>
								<td>20</td>
								<td>90322000</td>
							</tr>
							<tr>
								<th scope="row">4</th>
								<td>Bánh mì chảo</td>
								<td>83</td>
								<td>30</td>
								<td>12321000</td>
							</tr>
							<tr>
								<th scope="row" colspan="2" class="text-center"> Tổng: </th>
								<td> 1000 </td>
								<td> 2320 </td>
								<td> 40000000000</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="c-white title">
					<div class="large-size float-left">
						BÁNH MẶN
					</div>
					<div class="float-right mt-3">
						<a href="./product-type-income.html" class="d-block btn-dark bg-transparent">
							Xem chi tiết
							<span>
								<i class="fas fa-arrow-right"></i>
							</span>
						</a>
					</div>
				</div>
				<div class="gap-xs"></div>
				<div class="table-responsive-lg">
					<table class="table table-hover table-striped table-dark">
						<thead class="thead-dark">
							<tr>
								<th scope="col">#</th>
								<th scope="col">Tên bánh</th>
								<th scope="col">Số lượng đơn hàng</th>
								<th scope="col">Số lượng đã bán</th>
								<th scope="col">Doanh thu</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">1</th>
								<td>Bánh sừng bò</td>
								<td>20</td>
								<td>49</td>
								<td>20000000</td>
							</tr>
							<tr>
								<th scope="row">2</th>
								<td>Bánh mì Baguette</td>
								<td>48</td>
								<td>93</td>
								<td>42132000</td>
							</tr>
							<tr>
								<th scope="row">3</th>
								<td>Bugers</td>
								<td>30</td>
								<td>20</td>
								<td>90322000</td>
							</tr>
							<tr>
								<th scope="row">4</th>
								<td>Bánh mì chảo</td>
								<td>83</td>
								<td>30</td>
								<td>12321000</td>
							</tr>
							<tr>
								<th scope="row" colspan="2" class="text-center"> Tổng: </th>
								<td> 1000 </td>
								<td> 2320 </td>
								<td> 40000000000</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

{{#section 'js'}}
  <script src="../../components/chart/script.js"></script> 
{{/section}}

