<div class="content">
        <div class="container">
          <div class="gap-xs"></div>
          <div class="c-white row">
            <div class="large-size col-lg-6">
              <div class="ml-3">SẢN PHẨM</div>
            </div>
            <div class="col-lg-6">
              <div id="btn-save-product" class="float-right col-lg-2 clear-fix">
                <div href="javscript:;" class="d-block btn btn-success mt-1">
                  Lưu
                </div>
              </div>
            </div>
          </div>
          <div class="gap-xs"></div>
          <div class="container">
            <div class="row">
              <div class="col-lg-7 input-field mt-2">

                <form id="form-product" method="POST" class="bg-dark c-white py-2 pb-4 px-3" enctype="multipart/form-data" >
                  <input name="productID" type="hidden" value="-1" />
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="product-name">Tên bánh</label>
                      <input name="productName" type="text" class="form-control" id="product-name" placeholder="Tên bánh">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="origin"> Nguồn gốc </label>
                      <input name="origin" type="text" class="form-control" id="origin" placeholder="Nguồn gốc">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="unit-price">Đơn giá</label>
                      <input name="unitPrice" type="number" class="form-control" id="unit-price" placeholder="Đơn giá" min="1000" step="1000">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="unit"> Đơn vị </label>
                      <input name="unit" type="text" class="form-control" id="unit" placeholder="Đơn vị">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-lg-12">
                      <div class="image-upload-container">
                        <div class="img-upload-title"> Ảnh sản phẩm </div>
                        <div class="image-upload-border">
                          <label for="img-upload"> Chọn ảnh ở đây </label>
                          <div class="img-upload-box">
                            <input name="productImage" type="file" accept="image/*" id="img-upload" class="img-upload">
                            <div class="review-image-box d-none" id="review-box">
                              <img src="" alt="" class="review-img" id="img"/>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-lg-12">
                      <label for="description"> Mô tả </label>
                      <textarea name="description" id="description" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                  </div>
                   <div class="col-lg-5 relation-field mt-2">
                  <div class="bg-dark c-white py-2 px-3">
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <label for="product-type"> Loại bánh </label>
                        <select name="productTypeID" id="product-type" class="form-control">
                          {{#each this.productTypes}}
                          <option value={{productTypeID}} >{{mainType}}</option>
                          {{/each}}
                        </select>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="cooking-type"> Phương pháp chế biến </label>
                        <select name="cookingTypeID" id="cooking-type" class="form-control">
                        {{#each this.cookingTypes}}
                          <option value={{cookingTypeID}} >{{cookingType}}</option>
                          {{/each}}
                        </select>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
             
            </div>
            <div class="gap-sm"></div>
          </div>
        </div>
      </div>

{{#section 'js'}}
  <script src="../../components/image-upload/script.js"></script>
{{/section}}