<div class="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="gap-xs"></div>
              <div class="c-white row">
                <div class="large-size col-lg-6">
                  Bánh mặn
                </div>
                <div class="col-lg-3">
                  <input type="search" placeholder="tìm kiếm" class="mt-2 py-1 pl-2 border-0" style="border-radius: 18px; outline:none;">
                </div>
                <div class="col-lg-3">
                  <div class="sort-by row bg-dark overflow-hidden my-2 ml-1 float-lg-right">
                    <label for="sort-by-item-1" style="color: white;"> Sắp xếp theo: </label>
                    <select name="sort-by-toggle" class="sort-by-item bg-dark" id="sort-by-item-1" style="color: white; width: 85px;">
                      <option value="id">ID</option>
                      <option value="Tên bánh">Tên bánh</option>
                      <option value="Doanh thu">Doanh thu</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="gap-xs"></div>
              <div class="table-responsive-lg">
                <table class="table table-hover table-striped table-dark">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Tên bánh</th>
                      <th scope="col">Số lượng đơn hàng</th>
                      <th scope="col">Số lượng đã bán</th>
                      <th scope="col">Doanh thu</th>
                    </tr>
                  </thead>
                  <tbody has-sumary="true">
                    <tr>
                      <th scope="row">1</th>
                      <td>Bánh sừng bò</td>
                      <td>20</td>
                      <td>49</td>
                      <td>20000000</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Bánh mì Baguette</td>
                      <td>48</td>
                      <td>93</td>
                      <td>42132000</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Bugers</td>
                      <td>30</td>
                      <td>20</td>
                      <td>90322000</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>Bánh mì chảo</td>
                      <td>83</td>
                      <td>30</td>
                      <td>12321000</td>
                    </tr>
                    <tr>
                      <th scope="row" colspan="2" class="text-center"> Tổng: </th>
                      <td> 1000 </td>
                      <td> 2320 </td>
                      <td> 40000000000</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>